{% extends '/user/base.html' %}
{% block styles %}
<style>
  .output-category {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .output-header {
    display: flex;
    align-items: center;
    color: #007bff;
  }

  .output-label {
    margin-right: 10px;
  }

  .output-text {
    margin-top: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  #copy-button:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
</style>
{% endblock %}
{% block content %}
<section class="main">
  <div class="main-top mb-4">
    <h3>Password Checker</h3>
    <i class="fas fa-user-cog"></i>
  </div>
  <div class="card custom-shadow">
    <h5 class="card-header">Tools</h5>
    <div class="card-body card-container">
      <div class="card-body">
        <div class="containser">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" id="password-checker-tab" data-toggle="tab" href="#password-checker">Password
                Checker</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="generate-password-tab" data-toggle="tab" href="#generate-password">Generate Secure
                Password</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="password-checker">
              <div class="form-group mt-4">
                <div class="mb-3">
                  <label for="inputText" class="form-label">Password</label>
                  <input type="text" class="form-control" id="inputText">
                </div>
              </div>
              <button type="button" class="btn btn-primary" data-toggle="modal" onclick="submitInput()"
                data-target=".bd-example-modal-lg">Check Password</button>

              <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Password Analysis</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" style="padding: 3rem;">
                        <div id="outputCategories" class="output-container">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="generate-password">
              <div class="row">
                <div class="col col-3">
                  <div class="form-group mt-4 ">
                    <div class="mb-3">
                      <label for="password-lenght" class="form-label">Password Lenght</label>
                      <input type="number" class="form-control" id="password-lenght">
                    </div>
                  </div>
                </div>
                <div class="col col-9">
                  <div class="form-group mt-4">
                    <div class="mb-3" id="password-field" style="display: none;">
                      <label for="generated-password" class="form-label">Generated Password</label>
                      <h3 id="generated-password"></h3>
                      <button id="copy-button" style="padding: 4px;" onclick="copyToClipboard()">Copy to clipboard</button>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary" onclick="generatePassword()">Generate Password</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/progressbar.js@1.1.0/dist/progressbar.min.js"></script>
<script>
  function generatePassword() {
    // Get password length from input
    const passwordLength = document.getElementById('password-lenght').value;

    // Hide the generated password field
    const generatedPasswordField = document.getElementById('generated-password');
    const passwordField = document.getElementById('password-field');


    // Fetch the generated password from the server
    fetch('/generate-password', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ 'password-lenght': passwordLength }),
    })
      .then(response => response.json())
      .then(data => {
        console.log(data.password);
        // Update the generated password field with the password and show it
        passwordField.style.display = 'block';
        generatedPasswordField.innerText = data.password;

      })
      .catch(console.error);
  }
  function copyToClipboard() {
    const generatedPassword = document.getElementById('generated-password').innerText;
    navigator.clipboard.writeText(generatedPassword)
      .then(() => {
        console.log('Password copied to clipboard');
      })
      .catch(err => {
        console.error('Could not copy password: ', err);
      });
  }
</script>
<script src="{{ url_for('static', filename='js/password-checker.js') }}"></script>
{% endblock %}